.nav {
    position: absolute;
    width: 1440px;
    height: 100.03px;
    left: 0px;
    top: 0px;
    background: #A6ACAF;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    color: white;
}

#index {
    position: absolute;
    left: 3.96%;
    right: 86.11%;
    top: 30.96%;
    bottom: 20.71%;

    font-family: DIN Alternate;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

#button {
    background: #CACFD2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;

    position: absolute;
    width: 89px;
    height: 34px;
    left: 1282px;
    top: 25px;

    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.03em;
    padding: 10px;
}

.content {
    position: absolute;
    width: 1000px;
    height: 94px;
    left: 97px;
    top: 150px;
}

#head {
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 47px;
    letter-spacing: 0.03em;

    color: #000000;
}

.poll {
    position: absolute;
    width: 1200px;
    height: 80px;
    left: 120px;
    top: 140px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 0.03em;
    color: #000000;
}

#error-msg {
    position: absolute;
    width: 1000px;
    height: 94px;
    top: 350px;

    /* font-family: Roboto; */
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    /* line-height: 47px; */
    letter-spacing: 0.03em;

    color: red;

}

#poll-name {
    width: 1200px;
    font-style: normal;
    font-size: 30px;
}

.poll-choices {
    position: absolute;
    width: 1200px;
    height: 82px;
    left: 160px;
    top: 190px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.03em;

    color: #000000;

}

#vote {
    position: absolute;
    width: 81px;
    height: 49px;
    left: 890px;
    font-size: 25px;

}

#no-poll {
    position: absolute;
    width: 500px;
    height: 94px;
    left: 450px;
    top: 200px;

    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 0.03em;

    color: #000000;
}

#vote-button {
    position: absolute;
    width: 81px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
}

#submit-button {
    position: absolute;
    width: 140px;
    height: 49px;
    left: 450px;
    top: 480px;
    background: whitesmoke;
    border: 1px solid #000000;
    border-radius: 10px;
}

.result-name {
    position: absolute;
    width: 1200px;
    height: 80px;
    left: 120px;
    top: 140px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 0.03em;
    color: #000000;
}

table {
    border-collapse: collapse;
    width: 870px;
}

table,
th,
td {
    height: 150px;
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
}

#back-index {
    background: whitesmoke;
    border: 1px solid #000000;
    border-radius: 10px;
    position: absolute;
    width: 140px;
    height: 49px;
    left: 450px;
    margin-bottom: 40px;
}

.login {
    position: absolute;
    width: 1200px;
    height: 94px;
    left: 250px;
    top: 195px;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.03em;

    color: #000000;
}

#forget {
    font-size: 25px;
    left: 450px;
}


#submit-login {
    background: whitesmoke;
    border: 1px solid #000000;
    border-radius: 10px;
    position: absolute;
    width: 100px;
    height: 49px;
    left: 120px;
}

.logout {
    position: absolute;
    width: 1200px;
    height: 94px;
    left: 250px;
    top: 195px;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.03em;

    color: #000000;
}